<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      CATS FILTERS
      <mat-icon fontIcon="filter_list"></mat-icon>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <form class="action" action="" [formGroup]="filters">
    <mat-form-field appearance="fill" class="control">
      <mat-label>Number</mat-label>
      <input
        matInput
        type="number"
        min="0"
        placeholder="0"
        formControlName="limit"
      />
    </mat-form-field>

    <mat-form-field appearance="fill" class="control">
      <mat-label>Breeds</mat-label>
      <mat-select formControlName="breeds">
        <mat-option *ngFor="let breed of breeds$ | async" [value]="breed">{{
          breed.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <button class="control" mat-fab extended color="blue">
      <mat-icon>search</mat-icon>
      Filter
    </button>
  </form>
</mat-expansion-panel>

<section class="section">
  <mat-card class="card" *ngFor="let cat of cats$ | async">
    <mat-card-content><mat-icon fontIcon="image"></mat-icon> </mat-card-content>
    <img src="{{ cat.url }}" alt="cat image" width="200" />
  </mat-card>
</section>
